<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>CFBundlePackageType</key><string>APPL</string><key>CFBundleInfoDictionaryVersion</key><string>6.0</string>

    <key>CFBundleIconFile</key>           <string>MyAwesomeIcon.icns</string>

    <key>CFBundleName</key>               <string>PyPHS NL Editor</string>
    <key>CFBundleExecutable</key>         <string>app.sh</string>
    <key>CFBundleIdentifier</key>         <string>pyphs.netlist.editor.app</string>

    <key>CFBundleVersion</key>            <string>0.2.0.pre1</string>
    <key>NSHumanReadableCopyright</key>   <string>© Copyright 2012 Antoine Falaize</string>
    <key>CFBundleShortVersionString</key> <string>0.2</string>

    <!-- Needed for Apache Callback -->
    <key>NSPrincipalClass</key><string>NSApplication</string>
    <key>NSMainNibFile</key><string>MainMenu</string>

</dict></plist>
